
html {
  scroll-behavior: smooth;
  scroll-margin-top:20px;
}


.childCap {
  font-size:30px;
}
body {
  font-family: 'Montserrat', sans-serif ;
  font-weight:bold;
  background-color:#333333;
}
/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ffcd7d;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.volunteerCard {
  background-image:url('volunteer1.jpg');
}

.donateCard {
  background-image:url('donate.jpg');
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


.icon {
  height:25px;
  width:25px;
  transform:translate(0px,-3px);
}
/* nav bar stuff */



.navBar .hamburger {
  display:none
}
.topnav {

  background-color: #222222;
  z-index:100;
}


.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding-left:30px;
  padding-right:30px;
  padding-top:20px;
  padding-bottom:20px;
  text-decoration: none;
  font-weight:bold;
  font-size: 25px;
}

.topnav a.active {
  background-color:white;
  color:#333333;
  padding-left:20px;
  padding-right:20px;
  font-size:25px;
}

.topnav .hamburger {
  display: none;
}

.textBox {
  width:50%;
  margin: auto;
  font-weight:normal !important;
  font-size:25px;
}

@media screen and (max-width: 1400px) {
  .topnav-right a {display: none;}
  .topnav a.hamburger {
    float: right;
    display: block;
  }
  .alphabetCol {
    width:100%;
  }

}
@media screen and (max-width: 1100px) {
  .textBox {
    font-size:20px;
    font-weight:normal;
    width:90%;
  }
}


.alphabetRow {
  background-color:white;
  justify-content: center;
}

.caps {
  font-size:50px;
  font-weight:bold;
}
.alphabetCol {
  float:left;
  width:50%;
  padding:10px;

}

.alphabetRow:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 1500px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* stop */
.active {
  background-color: #717171;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* stop */




.show {display: block;}





.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.3);


}

.topnav-right {
  float: right;
  font-size:20px;
}

.spacer {
  height:75px;
  border-bottom: 1px transparent solid ;
margin-bottom: -1px ; /* for Mobile Safari dark line artifact */
}
.header {
  height:700px;
  text-align:center;
  background-image:url('soupKitchen.jpeg');
  color:white;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  color:#ffcd7d;
  height:100%;
}


.mySlides {display:none;}
.navBar a:hover {
  text-decoration:none;
  color:black;
}



.bigNavText {
  font-size:40px
}

.smallNavText {
  font-size:15px;
}

.logo {
}

.parentHeader {
}

.bigIcon {
  height:100px;
  width:100px;
  margin:20px;
}

.form-container {
  padding:10px;
  margin-right:80px;
  text-align: left;
  margin-top:100px;
  width:500px;
}


input[type=text], select, textarea {
  width: 100%;
  padding:20px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:3px solid #ffcd7d;
  height:10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #333333;
  color: white;
  padding: 12px 20px;
  border: none;
  margin-top:20px;
  width:100%;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #777777;
}

.childHeader{
  width:800px;
  text-align:center;
  font-family: 'Anton', sans-serif;
  font-size:100px;
  position:relative;
  margin: auto;
}

.aboutCard {
  height:800px;
  background-color:white;
  color:black;
  padding-top:75px;
  margin:0 auto;
  text-align: center;
}
.headerline {
  text-decoration:none;
  /* border-bottom:4px solid #ffcd7d; */
}
/* dropdown handling */
.dropbtn {
  margin-bottom:-10px;
  background-color:#444444;
}

@keyframes fadeIn {
  from {opacity:0}
  to {opacity:1;}
}

.dropbtn:hover {
}
.dropdown {
    display:	inline-block;
	position:	relative;
}

.dropdown-content {
    display: 			none;
    position: 			fixed;
    animation:0.3s fadeIn ease-out;
    padding-top:80px;
    left:0;

    background-color: 	rgb(0, 0, 0,0.6);
    width: 				100%;
    box-shadow: 		5px 10px 10px rgba(0,0,0,0.3);
	z-index: 			1;
}

.dropdown-content a {
    color: 				white;
    padding: 			12px 16px;
    text-decoration: 	none;
    display: 			block;
    text-align: 		left;
	width:				100%;
	z-index: 			1;
}



.dropdown:hover .dropdown-content {
    display:	block;
}

/*end */

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffcd7d;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: #333333 !important;
}

.hvr-sweep-to-top:hover .headerline {
  border-color:3px solid white;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}



.aboutTitle {
  border-right:2px solid black; font-weight:bold; font-size:50px;
}
.helpCard {
  background-color:#333333;
  color:#ffcd7d;
  color:white;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:700px;
  margin: auto;
}



.insetPic {
  background-image:url('about.png');
  position:relative;
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.aboutTask {
  font-size:150px;
  font-weight:bold;
  color:white;
  text-align:center;
  font-family: 'Prata', serif;
}

a {
  text-decoration: none;
  color:inherit;
}

.smallText {
  font-size:20px;
  display:inline;
  font-weight:bold;
}

.splitter {
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size:50px;
  height:300px;
  font-weight:bold;
  width: 100%;
  background-color:#333333;
}

.smallUnder {
  /* border-bottom:3px solid white;
  padding-bottom:2px;*/
  text-decoration: none;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 50%;
  margin: auto auto;
  height:300px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkenImage {
  color:white;
}

.darkenImage:hover{
  color:white;
}  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.galContainer {
  padding:20px;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.contactCard {
  color:white;
  text-align:center;
  display: flex;
  padding-top:50px;
  justify-content: center;
  align-items: center;
  height:auto;
  margin: auto;
}

.right-half {
  position: absolute;
  right: 0px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:300px;
  width: 50%;
}

.glassMorph {
  background: rgba( 255, 172, 96, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  padding:10px;
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/* slide out css */
